footer {
    background: #2b2b2b;
    width:100%;
    
}
footer .container {
    padding: 22px 0 !important;
}
footer h5{
    margin:0;
    font-size: 14px;
    font-weight: 500;
    color: rgb(192, 174, 161);
}
 

footer a{
    color:aquamarine !important;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}