body {
background: linear-gradient(135deg, #667eea 0% #764ba2 100%);
font-family: 'roboto slab'serif;
}
.about{
background-color: rgb(7, 7, 7);
border-radius: 15px;
margin-top: 50px;
}
.m-heading{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 20px 0;
}

.btn-outline-warning {
    border-width: 2px;
    font-weight: 600;
    padding: 10px 30px;
    transition: all 0.3 ease;
}

.btn-outline-warning:hover {
    background-color: rgb(229, 255, 0);
    transform: scale(1.05);
}